@charset "UTF-8";

@font-face {
    font-family: 'burguer' ;
    src: url('./fontes/Insanibc.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'html';
    src: url('./fontes/html5_values.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'codigo';
    src: url(./fontes/Code\ New\ Roman.woff);
    font-weight: normal;
}

:root {
    --cinza-claro: rgb(165, 165, 165);
    --cinza: gray;
    --cinza-escuro: rgb(49, 51, 66);
    --vstudio: rgb(32, 32, 32);
    --quase-preto: #1d1c1c;
    --html: #ec591f;
    --css: rgb(11, 101, 219);
    --atributo: rgb(101, 192, 245);
    --tagcss: rgb(247, 227, 141);
    --taghtml:rgb(40, 109, 201);
    --valor:rgb(147, 202, 147);
    --escrita:rgb(185, 116, 70);
    --comentario: rgb(61, 138, 61);
    --colchete: rgb(238, 188, 25);
    --arroba: rgb(144, 43, 153);
}

body {
    background-image: linear-gradient(to bottom, rgb(36, 36, 36), rgb(0, 0, 0));
    background-attachment: fixed;
    margin: 0px;
}

main {
    background-color: #ec591f;
    margin: 10px auto;
    width: 500px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 10px #1d1c1c;
}

nav {
    background-color: gray;
    width: 450px;
    padding: 10px 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

div.h3 {
    background-color: rgb(165, 165, 165);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 5px;
    ;
}

div.vstudio {
    background-color: rgb(32, 32, 32);
    margin: 5px;
    padding: 7px;
    border: 2px solid var(--cinza);
    border-radius: 5px;
}

p {
    color: white;
    display: inline;
}

p.atributo {
    color: var(--atributo);
}

p.tagcss {
    color: var(--tagcss);
}

p.taghtml {
    color: var(--taghtml);
}

p.valor {
    color: var(--valor);
}

p.escrita {
    color: var(--escrita);
}

p.comentario {
    color: var(--comentario);
}

p.colchete {
    color: var(--colchete);
}

p.arroba {
    color: var(--arroba);
}

h1 {
    color: var(--taghtml);
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    font-family: 'codigo', arial;
    width: 450px;
    border-radius: 10px;
    margin: 20px auto;
    }

#azul {
    background-color: rgb(11, 101, 219);
}

h2 {
    color:rgb(49, 51, 66);
    text-align: center;
    font-family: 'burguer';
    font-weight: lighter;
}

h3 {
    text-align: center;
    color:rgb(49, 51, 66);
    font-family: 'burguer';
    font-weight: 100;
}

ul {
margin: 2px 2px;
}

li {
    background-color: white;
    color: rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    width: 250px;
    margin: 15px auto;
    padding: 4px 10px;
    text-align: center;
    border-radius: 10px;
    list-style: none;
    box-shadow: inset 1px 1px 2px black;
    text-decoration: none;
    transition: 0.2s;
}

li.licss:hover {
    color:rgb(11, 101, 219) ;
    text-decoration: underline;
    cursor: pointer;
}
 
li.lihtml:hover {
    color:#ec591f ;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 400px 0px 0px 0px;
}

#tipocaixas {
width: 350px;
margin: 10px;
border: rgb(185, 185, 185) solid 5px;
border-radius: 10px;
}


#container {
    background-color: rgb(75, 230, 152);
    border: rgb(2, 49, 45) solid 5px;
    border-radius: 10px;
    width: 500px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    margin: auto;
    display: none;
}

button {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
    background-color: red;
    border: 5px solid rgb(104, 104, 104);
    border-radius: 200px;
    width: 200px;
    height: 200px;
}
button:hover {
    color: #b8b8b8;
    background-color: rgb(148, 7, 7);
    border-color: rgb(94, 94, 94);
    transition: 0.3s;
}
